#event-search{
    margin-top: 25px;
    border-radius: 50px;
    margin-left: 50px;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}
.user-home{
    padding-left: 0px;
    width: 100vw;
    height: 100vh;
}
#search-icon{
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    margin-left: 10px;
    align-self: center;
}
